*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #06000f;
}

body {
  background: transparent;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* overflow: hidden は絶対に書かない */
}